<div class="page-header">
  <h1>
    Coordinators
    <% if current_user.id == 1 %>
    <a href="/coordinators/new" class="btn btn-lg btn-success">New Coordinator</a>
    <% end %>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "coordinators_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
    <%= f.label :phone_number_cont, "Phone number contains" %>
    <%= f.text_field :phone_number_cont, :class => "form-control", :placeholder => "Phone number contains" %>
  </div>

<div class="form-group">
    <%= f.label :email_address_cont, "Email address contains" %>
    <%= f.text_field :email_address_cont, :class => "form-control", :placeholder => "Email address contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :venues_address_cont, "Venue address contains" %>
      <%= f.text_field :venues_address_cont, :class => "form-control", :placeholder => "Venue address contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/coordinators" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#coordinators_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Email address</th>
        <th>Phone number</th>
        <th>Actions</th>
      </tr>

      <% @coordinators.each do |coordinator| %>
      <tr>
        <td><%= coordinator.name %></td>
        <td><%= coordinator.email_address %></td>
        <td><%= coordinator.phone_number %></td>
        <td>
          <a href="/coordinators/<%= coordinator.id %>" class="btn btn-primary">Show</a>
          <a href="/coordinators/<%= coordinator.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_coordinator/<%= coordinator.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @coordinators, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
