<div class="page-header">
  <h3><%= @coordinator.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @coordinator.name %></dd>

      <dt>Email address</dt>
      <dd><%= @coordinator.email_address %></dd>

      <dt>Phone number</dt>
      <dd><%= @coordinator.phone_number %></dd>

    </dl>


  </div>
</div>

<!-- A Coordinator has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @coordinator.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


    </form>
      </li>
    </ul>

    <div class="btn-group btn-group-justified">
      <a href="/coordinators" class="btn btn-primary">
        Back
      </a>
      <% if current_user.id == 1  %>
      <a href="/coordinators/<%= @coordinator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_coordinator/<%= @coordinator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>

  </div>
</div>
