<div class="page-header">
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h1>
            <a href="<%= @venue.website %>">
              <%= @venue.title %>
            </a>
          </h1>
          <h4><%= @venue.address %>, <%= @venue.city %>, <%= @venue.state %>, <%= @venue.zip %></h4>
        </div>


    </div>
  </div>
  </div>

<!-- Row with pictures and map -->
<div class="row">

<!-- Picture Carousel -->
<div class="col-lg-7">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->

<div class="carousel-inner" role="listbox">
  <div class="item active">
    <% @venue.photos.each do |photo| %>
    <img src="<%= photo.image_url %>" alt="Image">
    <div class="carousel-caption">
    </div>
    <%end%>
  </div>


  <div class="item">
    <img src="..." alt="...">
    <div class="carousel-caption">
    </div>
  </div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</div>

  <!-- Google Map -->
  <div class="col-lg-4">
  <iframe
    width="400"
    height="300"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA7LQxvUQoh4RY8Ns4hBZJyCHeHV7Ebpyc
      &q=<%= @venue.address %>+<%= @venue.city %>+<%= @venue.state %>+<%= @venue.zip %>" allowfullscreen>
  </iframe>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Coordinator</dt>
      <dd>
        <% if @venue.coordinator.present? %>
          <a href="/coordinators/<%= @venue.coordinator_id %>">
            <%= @venue.coordinator.name %>
          </a>
        <% end %>
      </dd>

      <dt>Capacity</dt>
      <dd><%= @venue.capacity %></dd>

      <dt>Description</dt>
      <dd><%= @venue.description %></dd>

<hr>

      <div class="row">
        <div class="col-md-5">
              <dt>Food Options</dt>

                  <% if @venue.food_1.present? %> <dd><%= @venue.food_1 %>
                      <%if @venue.food_1_price != 0 %>
                      $<%=@venue.food_1_price%>
                      <%end%>
                      </dd>
                  <% end %>

                  <% if @venue.food_2.present? %> <dd><%= @venue.food_2 %>
                      <%if @venue.food_2_price != 0 %>
                      $<%=@venue.food_2_price%>
                      <%end%>
                      </dd>
                  <% end %>

                  <% if @venue.food_3.present? %> <dd><%= @venue.food_3 %>
                      <%if @venue.food_3_price != 0 %>
                      $<%=@venue.food_3_price%>
                      <%end%>
                      </dd>
                  <% end %>

                  <% if @venue.food_4.present? %> <dd><%= @venue.food_4 %>
                      <%if @venue.food_4_price != 0 %>
                      $<%=@venue.food_4_price%>
                      <%end%>
                      </dd>
                  <% end %>

                  <% if @venue.food_5.present? %> <dd><%= @venue.food_5 %>
                      <%if @venue.food_5_price != 0 %>
                      $<%=@venue.food_5_price%>
                      <%end%>
                      </dd>
                  <% end %>
          </div>

          <div class="col-sm-1"></div>

          <div class="col-md-5">
          <dt>Drink Options</dt>

          <% if @venue.drink_1.present? %> <dd><%= @venue.drink_1 %>
              <%if @venue.drink_1_price != 0 %>
              $<%=@venue.drink_1_price%> PP
              <%end%>
              </dd>
          <% end %>

          <% if @venue.drink_2.present? %> <dd><%= @venue.drink_2 %>
              <%if @venue.drink_2_price != 0 %>
              $<%=@venue.drink_2_price%> PP
              <%end%>
              </dd>
          <% end %>

          <% if @venue.drink_3.present? %> <dd><%= @venue.drink_3 %>
              <%if @venue.drink_3_price != 0 %>
              $<%=@venue.drink_3_price%> PP
              <%end%>
              </dd>
          <% end %>

          <% if @venue.drink_4.present? %> <dd><%= @venue.drink_4 %>
              <%if @venue.drink_4_price != 0 %>
              $<%=@venue.drink_4_price%> PP
              <%end%>
              </dd>
          <% end %>

          <% if @venue.drink_5.present? %> <dd><%= @venue.drink_5 %>
              <%if @venue.drink_5_price != 0 %>
              $<%=@venue.drink_5_price%> PP
              <%end%>
              </dd>
          <% end %>
          </div>
        </div>

<hr>

    <div class="row">
        <div class="col-md-6">
          <dt>Amenities</dt>
          <dd><%= @venue.amenity_1 %></dd>
          <dd><%= @venue.amenity_2 %></dd>
          <dd><%= @venue.amenity_3 %></dd>
          <dd><%= @venue.amenity_4 %></dd>
          <dd><%= @venue.amenity_5 %></dd>
          <dd><%= @venue.amenity_6 %></dd>
          <dd><%= @venue.amenity_7 %></dd>
          <dd><%= @venue.amenity_8 %></dd>
        </div>

        <div class="col-md-6">
        <dt>Rules</dt>
        <dd><%= @venue.rule_1 %></dd>
        <dd><%= @venue.rule_2 %></dd>
        <dd><%= @venue.rule_3 %></dd>
        <dd><%= @venue.rule_4 %></dd>
        <dd><%= @venue.rule_5 %></dd>
        <dd><%= @venue.rule_6 %></dd>
        </div>
  </div>


    </dl>


  </div>
</div>

<!-- A Venue has many ratings -->
<%if current_user.id == 1  %>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ratings
      </li>

      <% @venue.ratings.each do |rating| %>
        <li class="list-group-item">
          <a href="/ratings/<%= rating.id %>">
            <%= rating.comment %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ratings/<%= rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_rating" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Review
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comments" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Submit
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Venue has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @venue.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image_url %>" width="200">
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_photo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Post Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
<%end%>

  <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        <i class="fa fa-backward"></i>
      </a>
      <%if current_user.id == 1  %>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        <i class="fa fa-edit"></i>
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>
    <%end%>
    </div>


</div>
