<div class="page-header">
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h1>
            <a href="<%= @venue.website %>">
              <%= @venue.title %>
            </a>
          </h1>
          <h4><%= @venue.address %>, <%= @venue.city %>, <%= @venue.state %>, <%= @venue.zip %></h4>
        </div>


    </div>
  </div>
  </div>

<!-- Row with pictures and map -->
<div class="row">

<!-- Picture Carousel -->
  <div class="col-lg-8">


  </div>

  <!-- Google Map -->
  <div class="col-lg-4">
  <iframe
    width="400"
    height="300"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA7LQxvUQoh4RY8Ns4hBZJyCHeHV7Ebpyc
      &q=<%= @venue.address %>+<%= @venue.city %>+<%= @venue.state %>+<%= @venue.zip %>" allowfullscreen>
  </iframe>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Coordinator</dt>
      <dd>
        <% if @venue.coordinator.present? %>
          <a href="/coordinators/<%= @venue.coordinator_id %>">
            <%= @venue.coordinator.name %>
          </a>
        <% end %>
      </dd>

      <dt>Capacity</dt>
      <dd><%= @venue.capacity %></dd>

      <dt>Description</dt>
      <dd><%= @venue.description %></dd>

      <div class="row">
        <div class="col-sm-1">
        </div>
          
        <div class="col-sm-5">
              <tr>
                <th>Food Options</th>
              </tr>
              <ul>
              <% if @venue.food_1.present? %>
              <dd><%= @venue.food_1 %></dd>
              <% end %>
              </ul>




          </div>

          <div class="col-sm-6">
          <th>Drink Options</th>
          <tr>
              <ul>
              <% if @venue.drink_1.present? %>
              <%= @venue.drink_1 %>
              <% end %>
              </ul>
          </tr>

</div>




      <dt>Amenity 1</dt>
      <dd><%= @venue.amenity_1 %></dd>

      <dt>Amenity 2</dt>
      <dd><%= @venue.amenity_2 %></dd>

      <dt>Amenity 3</dt>
      <dd><%= @venue.amenity_3 %></dd>

      <dt>Amenity 4</dt>
      <dd><%= @venue.amenity_4 %></dd>

      <dt>Amenity 5</dt>
      <dd><%= @venue.amenity_5 %></dd>

      <dt>Amenity 6</dt>
      <dd><%= @venue.amenity_6 %></dd>

      <dt>Amenity 7</dt>
      <dd><%= @venue.amenity_7 %></dd>

      <dt>Amenity 8</dt>
      <dd><%= @venue.amenity_8 %></dd>

      <dt>Rule 1</dt>
      <dd><%= @venue.rule_1 %></dd>

      <dt>Rule 2</dt>
      <dd><%= @venue.rule_2 %></dd>

      <dt>Rule 3</dt>
      <dd><%= @venue.rule_3 %></dd>

      <dt>Rule 4</dt>
      <dd><%= @venue.rule_4 %></dd>

      <dt>Rule 5</dt>
      <dd><%= @venue.rule_5 %></dd>

      <dt>Rule 6</dt>
      <dd><%= @venue.rule_6 %></dd>





    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Venue has many ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ratings
      </li>

      <% @venue.ratings.each do |rating| %>
        <li class="list-group-item">
          <a href="/ratings/<%= rating.id %>">
            <%= rating.venue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ratings/<%= rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_rating" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Rating
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Venue has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @venue.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.venue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_photo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
