<div class="page-header">
  <h3><%= @photo.venue.title %> Photo </h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venue</dt>
      <dd>
        <% if @photo.venue.present? %>
          <a href="/venues/<%= @photo.venue_id %>">
            <%= @photo.venue.title %>
          </a>
        <% end %>
      </dd>

      <dt>Image</dt>
      <dd><img src="<%= @photo.image_url %>" width=400></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
